import { Admin } from "@/components/admin";
import { NotFoundPage } from "@/pages/not-found-page";
import { ServerErrorPage } from "@/pages/server-error-page";
{% if frontend_protocol | default('rest') == 'grpc-web' -%}
import { grpcDataProvider } from '@/lib/grpcDataProvider';
{% else -%}
import { dataProvider } from '@/lib/dataProvider';
{% endif -%}
{% if authentication != 'none' -%}
import { authProvider } from '@/lib/authProvider';
{% endif -%}
{% if entities | items | selectattr("1.attributes") | length > 0 -%}
import {Resource} from "ra-core";
{% endif %}

{% for entity_name,entity in entities | items | selectattr("1.attributes") -%}
import {{ entity_name | camel_case }} from "./resources/{{ entity_name | snake_case }}"
{% endfor %}

function App() {
    return (
        <Admin
            catchAll={NotFoundPage}
            error={ServerErrorPage}
            {% if frontend_protocol | default('rest') == 'grpc-web' -%}
            dataProvider={grpcDataProvider}
            {% else -%}
            dataProvider={dataProvider}
            {% endif -%}
            {% if authentication != 'none' -%}
            authProvider={authProvider}
            requireAuth
            {% endif -%}
        >
            {% for entity_name,entity in entities | items | selectattr("1.attributes") -%}
            <Resource { ...{{ entity_name | camel_case }} }/>
            {% endfor %}
        </Admin>
    );
}
export default App;
