use mimalloc::MiMalloc;
use tracing_subscriber::{layer::SubscriberExt, util::SubscriberInitExt};
{% if database != 'none' -%}
use {{ project_name | snake_case }}::app_state::AppState;
{% endif -%}

#[global_allocator]
static GLOBAL: MiMalloc = MiMalloc;

#[tokio::main]
async fn main() {
    tracing_subscriber::registry()
        .with(
            tracing_subscriber::EnvFilter::try_from_default_env()
                .unwrap_or_else(|_| "info".into()),
        )
        .with(tracing_subscriber::fmt::layer())
        .init();

    {% if authentication == 'jwt' and 'rest' in protocols -%}
    {{ project_name | snake_case }}::services::auth_plugin::init_auth().await;
    {% endif -%}

    {% if database != 'none' -%}
    let state = AppState::new().await;
    {% endif -%}

    let app = {{ project_name | snake_case }}::build_router({% if database != 'none' %}state{% endif %});

    let listener = tokio::net::TcpListener::bind("0.0.0.0:8080")
        .await
        .expect("failed to bind to port 8080");

    tracing::info!("listening on {}", listener.local_addr().unwrap());
    axum::serve(listener, app).await.expect("server error");
}
