<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ project_name | pascal_case }} Admin</title>
    <link data-trunk rel="css" href="style/output.css" />
    <link data-trunk rel="rust" data-cargo-features="" data-wasm-opt="z" />
  </head>
  <body>
    <noscript>Enable JavaScript to run this application.</noscript>
  </body>
</html>
