[package]
name = "{{project_name}}"
version = "{{project_version}}"
edition = "{{project_edition}}"
publish = false

[profile.release]
codegen-units = 1
lto = true
strip = true
debug = false
panic = "abort"

[dependencies]
anyhow = "1.0"
serde = "1.0"
serde_json = "1.0"
spring = "0.4.0"
{{ 'spring-opentelemetry = "0.4.0"' if 'open-telemetry' in features }}
{{ 'spring-sea-orm = { version = "0.4.0", features = ["postgres","with-web",] }' if 'open-telemetry' in features }}
{{ 'spring-web = "0.4.0"' if 'rest' in features -}}
{% if 'grpc' in features -%}
spring-grpc = "0.4.0"
prost = "0.13"
tonic = "0.13"
prost-types = "0.13"
{% endif -%}
tokio = { version = "1.44", features = ["full", "tracing"] }

{% if 'grpc' in features -%}
[build-dependencies]
tonic-build = "0.13"
{% endif -%}
