[package]
name = "{{project_name}}"
version = "{{project_version}}"
edition = "{{project_edition}}"
publish = false

[profile.release]
codegen-units = 1
lto = true
strip = true
debug = false
panic = "abort"

[workspace]
exclude = ["e2e"]
{% if use_seaorm_migrations -%}
members = ["migration"]

[workspace.dependencies]
automod = "1.0"
sea-orm-migration = { version = "2.0.0-rc.32", features = ["runtime-tokio-rustls", "sqlx-postgres"], default-features = false }
tokio = { version = "1.44", features = ["full", "tracing"] }
{% endif %}

[dependencies]
automod.workspace = true
{{ 'axum = "0.8"' if frontend != 'none' }}
anyhow = "1.0"
crudcrate = {git="https://github.com/dinosath/crudcrate", branch = "seaorm2", default-features = false, features = ["derive"] }
{{ 'migration = { path = "migration" }' if use_seaorm_migrations }}
serde = "1.0"
serde_json = "1.0"
serde_with = "3.16"
spring = {git="https://github.com/dinosath/spring-rs", branch="seaorm-v2"}
{{ 'spring-opentelemetry = {git="https://github.com/dinosath/spring-rs", branch="seaorm-v2"}' if 'open-telemetry' in features }}
{% if database=='postgres' -%}
spring-sea-orm = { git="https://github.com/dinosath/spring-rs", branch="seaorm-v2", default-features = false, features = ["postgres","with-web","runtime-tokio-rustls"] }
sea-orm = { version = "2.0.0-rc.32", features = ["sqlx-postgres","runtime-tokio-rustls","macros","with-chrono","with-json","with-uuid","schema-sync","entity-registry","rbac"], default-features = false }
{% endif -%}
{{ 'spring-web = {git="https://github.com/dinosath/spring-rs", branch="seaorm-v2"}' if 'rest' in protocols }}
{{ 'static-serve = "0.5"' if frontend != 'none' }}
{% if 'grpc' in protocols -%}
spring-grpc = {git="https://github.com/dinosath/spring-rs", branch="seaorm-v2"}
prost = "0.13"
tonic = "0.12"
prost-types = "0.13"
{% endif %}
tokio.workspace = true

[dev-dependencies]
testcontainers = "0.26"
testcontainers-modules = { version = "0.14", features = ["postgres"] }
reqwest = { version = "0.13", features = ["json", "cookies"], default-features = false }
serial_test = "3"

{% if 'grpc' in protocols -%}
[build-dependencies]
tonic-build = "0.12"
{% endif -%}