[tools]
node = '24'
rust = "latest"
"github:aliev/baker" = "latest"
"cargo:cargo-chef" = "latest"
pnpm = "latest"
"npm:playwright" = "latest"
protoc = "latest"
jq = "latest"

[tasks.merge-entities]
description = "Merge all entity JSON files into answers.json"
run = '''
cd .baker
entities_json=$(jq -n 'reduce inputs as $item ({}; . + {($item|input_filename|split("/")|last|rtrimstr(".json")): $item})' entities/*.json)
jq --argjson entities "$entities_json" '.entities = $entities' answers.json > tmp.json && mv tmp.json answers.json
'''

[tasks.generate-local]
description = "Generate the project files from local repo"
run = "baker ../springrs-template . --answers-file .baker/answers.json --force --non-interactive --skip-confirms all"
depends = ["merge-entities"]

[tasks.generate]
description = "Generate the project files"
run = "baker https://github.com/dinosath/springrs-template . --answers-file .baker/answers.json --force --non-interactive --skip-confirms all"
depends = ["merge-entities"]

{% if frontend != "none" %}
[tasks.frontend]
description = "Build frontend"
run = '''
cd frontend
pnpm install --no-frozen-lockfile
pnpm run build
'''
depends = ["generate-local"]
{% endif %}

[tasks.build]
description = "Build the project"
run = "cargo build --release"
{% if frontend != "none" %}
depends = "frontend"
{% else %}
depends = "generate-local"
{% endif %}

[tasks.test]
description = "Run tests"
run = "cargo test"
depends = ["build"]

[tasks.docker-build]
description = "Build Docker images"
run = "docker build -t app-e2e-test ."
depends = ["test"]

[tasks.e2e]
description = "Run e2e tests"
run = "cargo test"
depends = ["docker-build"]