import path from "path"
import tailwindcss from "@tailwindcss/vite"
import react from "@vitejs/plugin-react"
import { defineConfig } from "vite"

export default defineConfig({
  plugins: [react(), tailwindcss()],
  resolve: {
    alias: {
      "@": path.resolve(__dirname, "./src"),
    },
  },
  server: {
    proxy: {
{% if protocol == 'rest' -%}
      '/api': {
        target: 'http://localhost:8080',
        changeOrigin: true,
      },
{% if authentication != 'none' -%}
      '/auth': {
        target: 'http://localhost:8080',
        changeOrigin: true,
      },
{% endif -%}
{% elif protocol == 'grpc' -%}
      '/{{ project_name | snake_case }}': {
        target: 'http://localhost:8080',
        changeOrigin: true,
      },
{% endif %}
    },
  },
})
