{
  "name": "{{ project_name }}-frontend",
  "private": true,
  "sideEffects": false,
  "type": "module",
  "scripts": {
    {% if 'grpc'==protocol -%}
    "predev": "npm run proto",
    "prebuild": "npm run proto",
    "proto": "protoc --plugin=./node_modules/.bin/protoc-gen-ts_proto --ts_proto_out=./src/generated/proto --proto_path ./proto grpc-crud.proto --ts_proto_opt=outputClientImpl=grpc-web",
    {% endif -%}
    "dev": "vite dev",
    "build": "vite build && tsc --noEmit",
    "start": "vite start"
  },
  "dependencies": {
    {% if 'grpc'==protocol -%}
    "@bufbuild/protobuf": "^2.6.0",
    "@improbable-eng/grpc-web": "^0.15.0",
    {% endif -%}
    "@tabler/icons": "^3.34.0",
    "@tailwindcss/vite": "^4.1.11",
    "@tanstack/solid-form": "^1.12.4",
    "@tanstack/solid-query": "^5.81.5",
    "@tanstack/solid-router": "^1.122.0",
    "@tanstack/solid-router-devtools": "^1.122.0",
    "@tanstack/solid-start": "^1.122.1",
    "@tanstack/solid-table": "^8.21.3",
    "redaxios": "^0.5.1",
    "solid-js": "^1.9.5",
    "tailwind-merge": "^2.6.0",
    {% if 'grpc'==protocol -%}
    "browser-headers": "^0.4.1",
    "google-protobuf": "^3.21.4",
    "ts-proto": "^2.7.5"
    {% endif -%}
  },
  "devDependencies": {
    "@types/node": "^22.5.4",
    "autoprefixer": "^10.4.20",
    "tailwindcss": "^4.1.11",
    "typescript": "^5.7.2",
    "vite": "^6.3.5",
    "vite-tsconfig-paths": "^5.1.4"
  }
}
