{% for name, property in entity.properties | items | selectattr("1.type","eq", "array") | selectattr("1.items", "defined") | selectattr("1.items.x-relationship", "defined") | selectattr("1.items.x-relationship.type", "eq", "many-to-many") -%}
{% set table_name = macros.get_table_name(entity_name) -%}
{% set relation_table_name = schema_name ~ '.' ~ ( [table_name, name | snake_case] | sort | join('_') ) -%}
CREATE TABLE IF NOT EXISTS {{ relation_table_name }}(
    id SERIAL PRIMARY KEY,
    {{ table_name }}_id UUID NOT NULL REFERENCES {{ schema_name }}.{{ table_name }}(id),
    {{ property['items']['x-relationship']['foreignKey'] | snake_case }} UUID NOT NULL REFERENCES {{ schema_name }}.{{ property['items']['x-relationship']['target'] | plural | snake_case }}(id) ON DELETE CASCADE
);
{% endfor -%}

