{{ 'axum = "0.8"' if frontend != 'none' or (authentication == 'jwt' and 'rest' in protocols) }}
#summer = "0.5"
summer = {git="https://github.com/dinosath/spring-rs", branch="master"}
{{ 'summer-opentelemetry = {git="https://github.com/dinosath/spring-rs", branch="master"}' if 'open-telemetry' in features }}
{% if orm == 'seaorm' and database=='postgres' -%}
#summer-sea-orm = { version = "0.5.0-rc.0", default-features = false, features = ["postgres","with-web","rustls"] }
summer-sea-orm = { git="https://github.com/dinosath/spring-rs", branch="master", version="0.5.0-rc.0", default-features = false, features = ["postgres","with-web","rustls"] }
{% endif -%}
{{ 'summer-web = {git="https://github.com/dinosath/spring-rs", branch="master"}' if 'rest' in protocols }}
{{ 'summer-grpc = {git="https://github.com/dinosath/spring-rs", branch="master"}' if 'grpc' in protocols }}
