{% if 'grpc' in protocols %}
fn main() {
    if std::env::var_os("GRPC_RUST_REGENERATE_PROTO").is_some() {
        let manifest_dir = std::path::PathBuf::from(
            std::env::var("CARGO_MANIFEST_DIR").unwrap(),
        );
        grpc_protobuf_build::CodeGen::new()
            .output_dir(manifest_dir.join("src/gen"))
            .input("{{ project_name | snake_case }}.proto")
            .include(manifest_dir.join("../proto"))
            .client_only()
            .compile()
            .unwrap();
    }
}
{% else %}
fn main() {}
{% endif %}
