ci/{% if 'github' in ci_cd%}.github{% endif %}/{% if 'github' in ci_cd%}.github{% endif %}
ci/{% if 'github' in ci_cd%}.github{% endif %}/workflows/docker.yml
ci/{% if 'github' in ci_cd%}.github{% endif %}/workflows/helm.yml
