import { Admin, Resource } from "react-admin";
import { dataProvider } from './dataProvider';
{% for entity_name,entity in entities | items | selectattr("1.properties") -%}
import {{ entity.title | camel_case }} from "./models/{{ entity.title | camel_case }}";
{% endfor %}
import { Dashboard } from "./Dashboard";
import authProvider from './authProvider';

const App = () => {
  return (
    <Admin dataProvider={dataProvider} authProvider={authProvider} dashboard={Dashboard}>
      {% for entity_name,entity in entities | items -%}
      {% if not entity.properties -%}{% continue -%}{% endif -%}
        <Resource name="{{ entity.title | plural | kebab_case }}" { ...{{ entity.title | camel_case }} }/>
      {% endfor %}
    </Admin>
  );
}
    
export default App;