{{ 'use spring_grpc::GrpcPlugin;' if 'grpc' in protocols }}
{{ 'use spring::{auto_config, App};' if 'rest' in protocols else 'use spring::App;' }}
{{ 'use spring_sea_orm::{SeaOrmPlugin};' if database != 'none' }}
{{ 'use spring_opentelemetry::{KeyValue, OpenTelemetryPlugin, ResourceConfigurator, SERVICE_NAME, SERVICE_VERSION, };' if 'open-telemetry' in features }}
{{ 'use spring_web::{WebConfigurator, WebPlugin};' if 'rest' in protocols }}
{{ 'use services::seaorm_migration_plugin::SeaOrmMigrationPlugin;' if use_seaorm_migrations }}
{% if 'rest' in protocols -%}
mod controllers {
    automod::dir!("src/controllers");
}
{% endif -%}
{% if database != 'none' -%}
mod models {
    automod::dir!(pub "src/models");
}
{% endif -%}
mod services {
    automod::dir!(pub "src/services");
}
{% if frontend!='none' -%}
use static_serve::embed_assets;

embed_assets!("frontend/dist", compress = true, strip_html_ext = true);
{%- endif %}

{{ '#[auto_config(WebConfigurator)]' if 'rest' in protocols -}}
#[tokio::main]
async fn main() {
    App::new()
        .opentelemetry_attrs([
            KeyValue::new(SERVICE_NAME, env!("CARGO_PKG_NAME")),
            KeyValue::new(SERVICE_VERSION, env!("CARGO_PKG_VERSION")),
        ])
        {{ '.add_plugin(SeaOrmPlugin)' if database != 'none' }}
        {{ '.add_plugin(SeaOrmMigrationPlugin)' if use_seaorm_migrations }}
        {{ '.add_plugin(WebPlugin)' if 'rest' in protocols }}
        {{ '.add_plugin(OpenTelemetryPlugin)' if 'open-telemetry' in features }}
        {{ '.add_plugin(GrpcPlugin)' if 'grpc' in protocols }}
        {{ '.add_router(static_router())' if frontend!='none' }}
        .run().await
}