use spring::async_trait;
use spring::plugin::ComponentRegistry;
use spring::tracing::{error};
use spring::{app::AppBuilder, plugin::Plugin};
use spring_sea_orm::{DbConn, SeaOrmPlugin};
use migration::{Migrator, MigratorTrait};
pub struct SeaOrmMigrationPlugin;

#[async_trait]
impl Plugin for SeaOrmMigrationPlugin {
    async fn build(&self, app: &mut AppBuilder) {
        let pool = app.get_component::<DbConn>().expect("sqlx connect pool not exists");

        match Migrator::up(&pool, None).await {
            Ok(_migrator) => {},
            Err(e) => {
                error!("SQLX Migration plugin load failed: {:?}", e);
            }
        }
    }

    fn dependencies(&self) -> Vec<&str> {
        vec![std::any::type_name::<SeaOrmPlugin>()]
    }
}