[package]
name = "{{project_name}}"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
anyhow = "1.0"
serde = "1.0"
serde_json = "1.0"
spring = "=0.4.4"
{{ 'spring-opentelemetry = "=0.4.4"' if 'open-telemetry' in features }}
{% if database=='postgres' -%}
spring-sea-orm = { version = "=0.4.4", features = ["postgres","with-web",] }
sea-orm = { version = "1.1", features = ["sqlx-postgres","runtime-tokio-rustls","macros","with-chrono","with-json","with-uuid"] }
{% endif -%}
{% for crate in extra_crates -%}
{{ crate }} = { path = "../{{ crate }}" }
{% endfor -%}
{{ 'spring-web = "=0.4.4"' if protocol=="rest" }}
{% if protocol=="grpc" -%}
spring-grpc = "=0.4.3"
prost = "0.13"
tonic = "0.12"
prost-types = "0.13"
{% endif %}
tokio = { version = "1.44", features = ["full", "tracing"] }

[dev-dependencies]
testcontainers = "0.24"
testcontainers-modules = { version = "0.12", features = ["postgres"] }
reqwest = { version = "0.12", features = ["json", "cookies"] }
serial_test = "3"

{% if protocol=="grpc" -%}
[build-dependencies]
tonic-build = "0.12"
{% endif -%}
